<style>
  th,
  td,
  table,
  tr {
    color: inherit;
    vertical-align: top;
    border: 1px solid #f2f2f2;
    background-color: inherit;
    padding-top: .23076923em;
    padding-bottom: .23076923em;
  }

  tr,
  td,
  th {
    width: 200px;
  }
</style>

<lui-dialog style="max-width: 1200px;">
  <lui-dialog-header>
    <lui-dialog-title>Dimension Imports</lui-dialog-title>
  </lui-dialog-header>
  <lui-dialog-body>

      <div class="lui-popover__body lui-nopad">
        <ul class="lui-list">
          <li ng-click="CreateDimension();" class="lui-list__item">
            <span class="lui-list__text lui-list__action">Create</span>
          </li>
          <li ng-click="UpdateDimension();" class="lui-list__item">
            <span class="lui-list__text lui-list__action">Update</span>
          </li>
          <li ng-click="DestroyDimension();" class="lui-list__item">
            <span class="lui-list__text lui-list__action">Delete</span>
          </li>
        </ul>
      </div>
      <div class="lui-popover__footer lui-nopad" style="display: flex; justify-content: space-around;">
        <button title="Help" ng-click="openDialog()" class="lui-fade-button  lui-fade-button--large">
          <span class="lui-fade-button__icon  lui-icon  lui-icon--help"></span>
        </button>
        <button title="Partial Reload" ng-click="PartialReload()" class="lui-fade-button  lui-fade-button--large">
          <span class="lui-fade-button__icon  lui-icon  lui-icon--reload"></span>
        </button>
        <button title="Delete All" ng-click="DestroyAllMeasures();" class="lui-fade-button  lui-fade-button--large">
          <span class="lui-fade-button__icon  lui-icon  lui-icon--bin"></span>
        </button>
        <button title="Export Dimension Items" ng-click="ExportDimensions()" class="lui-fade-button  lui-fade-button--large">
          <span class="lui-fade-button__icon lui-icon lui-icon--export"></span>
        </button>
      </div>
    
  </lui-dialog-body>
  <lui-dialog-footer>
    <button class="lui-button  lui-dialog__footer-button" ng-click="close();">Close</button>
  </lui-dialog-footer>
</lui-dialog>


<!--
    <table>
        <tr>
          <th>Measure Name</th>
          <th>Measure Description</th>
          <th>Measure Label Expression</th>
          <th>Measure Expression</th>
          <th>Measure Tags</th>
          <th>Measure Color</th>
          <th>Measure Id</th>
        </tr>
        <tr ng-repeat="row in measurevalues.qHyperCube.qDataPages[0].qMatrix">
          <td ng-repeat="col in row">
            {{col.qText}}
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <th>Dimension Name</th>
          <th>Dimension Field</th>
          <th>Dimension Label Expression</th>
          <th>Dimension Description</th>
          <th>Dimension Color</th>
          <th>Dimension Tags</th>
          <th>Dimension Id</th>
        </tr>
        <tr ng-repeat="row in dimensionvalues.qHyperCube.qDataPages[0].qMatrix">
          <td ng-repeat="col in row">
            <div id="dialogSelect" class="selectable" ng-class="{'selected':cell.selected}" ng-click="cell.select($event)">{{col.qText}}</div>
          </td>
        </tr>
      </table>
  -->