<style>
    th,
    td,
    table,
    tr {
      color: inherit;
      vertical-align: top;
      border: 1px solid #f2f2f2;
      background-color: inherit;
      padding-top: .23076923em;
      padding-bottom: .23076923em;
    }
  
    tr,
    td,
    th {
      width: 200px;
    }
  </style>
  
  <lui-dialog style="max-width: 1200px;">
    <lui-dialog-header>
      <lui-dialog-title>Master Measure Imports</lui-dialog-title>
    </lui-dialog-header>
    <lui-dialog-body>
     

  
          
      
            <div style="text-align: center">
            
                    <ul class="lui-list">
                        <li class="lui-list__header">
                          <span class="lui-list__text">Settings</span>
                        </li>
                        <li ng-click="CreateMeasure();" class="lui-list__item">
                          <span class="lui-list__text">Insert</span>
                        </li>
                        <li ng-click="UpdateMeasure();" class="lui-list__item">
                            <span class="lui-list__text">Update</span>
                        </li>
                        <li ng-click="DestroyMeasure();" class="lui-list__item">
                              <span class="lui-list__text">Delete</span>
                        </li>
                    
                      </ul>
                    
                      </div>
          
   
    </lui-dialog-body>
    <lui-dialog-footer>
      <button class="lui-button  lui-dialog__footer-button" ng-click="close();">Close</button>
    </lui-dialog-footer>
  </lui-dialog>
  