<style>


@import url("../extensions/GINQO_MasterItemManager/css/custom.css");
@import url("../extensions/GINQO_MasterItemManager/css/font-awesome.css");

	
</style>
<div qv-extension>
	<div style="float:right">
		<button class="lui-button" ng-click="PartialReload()">Partial Reload <span class="lui-fade-button__icon  lui-icon lui-icon--small  lui-icon--reload"></span></button>
	</div>
	<div qv-extension class="ng-scope">
			 <button class="lui-button lui-button--rounded" ng-click="openHelpModal()"><span class="lui-button__icon lui-icon lui-icon--info"></span></button>
	</div>
</div>

	<!-- Create Instructions and Title -->
	<div class="content-center">

		<div style="text-align: center">
		<div style="color: #707070; font-weight:600; font-size:12px; padding:5px">GIN<span style="color:green">Q</span>O Master Item Manager <img src="../extensions/GINQO_MasterItemManager/ginqo-icon.png" style="width:30px"></div>
			<ul class="lui-tabset lui-tabset--fill" style="border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(0, 0, 0, 0.1);">

				<li ng-click="openDimensionModalMain()" class="lui-tab" title="Dimensions">
					<span>
						<span style="font-size:12px; font-weight:400">Edit Dimensions</span>
					<span class="lui-button__icon  lui-icon lui-icon--small  lui-icon--book"></span>
					</span>
				</li>
				<li ng-click="openMeasModalMain()" class="lui-tab" title="Measures">
					<span>
					<span style="font-size:12px; font-weight:400">Edit Measures</span>
					<span class="lui-button__icon  lui-icon lui-icon--small  lui-icon--measure"></span>
					</span>
				</li>

			</ul>
			<!-- <button class="instructions lui-button" ng-click="openDialog()">Instructions: </button> -->

		</div>
		<br>

<div class="footer-social-icons">
	<div>
		<p style="font-size:10px;">Version info: December 2022, Build 1.9</p>
		<p style="font-size:10px;">Designed for: Qlik Sense On-Premise & Cloud > November 2022</p>
	</div>
		<ul class="social-icons">
			<li><a href="https://www.ginqo.com" target="_blank" title="https://www.ginqo.com" class="social-icon"> <i class="fa fa-globe"></i></a></li>
			<li><a href="https://ca.linkedin.com/company/ginqo" target="_blank" title="https://ca.linkedin.com/company/ginqo" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
			<li><a href="https://github.com/GINQO" target="_blank" title="https://github.com/GINQO" class="social-icon"> <i class="fa fa-github"></i></a></li>
		</ul>
	</div>

	</div>



</div>


<!--
	<button class="masteritemdelete lui-button lui-button--large" ng-click="openDialogDim()">Dimensions <span class="lui-fade-button__icon lui-icon lui-icon--menu"></span></button>
	<button class="masteritemdelete lui-button lui-button--large" ng-click="openDialogMeas()">Measures <span class="lui-fade-button__icon lui-icon lui-icon--menu"></span></button>
-->


<!--
	Master Item Overview and Export Variables
	<button title="Master Item Overview" style="left: 0%" ng-click="openDialog2()" class="extras lui-button  lui-button--default">
		<span class="lui-fade-button__icon lui-icon lui-icon--table"></span>
	</button>
	<button title="Export Variables" style="left: 0%" ng-click="ExportVariables()" class="extras lui-button  lui-button--default">
		<span class="lui-fade-button__icon lui-icon lui-icon--variables"></span>
	</button>
-->
