<style>
	.content-center {
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		font-size: 12px;
	}
</style>
<div qv-extension>


	<!-- Create Instructions and Title -->
	<div class="content-center">

		

		<div style="text-align: center">
			<h1>GINQO Master Item Manager <img src="http://static1.squarespace.com/static/57e6f5d9d482e9a8f58af132/t/57e70458893fc04435852460/1474757722592/ginqo_1000px.png?format=1500w" style="width:30px"></h1>
			<br>

			<ul class="lui-tabset lui-tabset--fill" style="border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
				<li ng-click="openDialogDim()" class="lui-tab" title="Dimensions">
					<span class="lui-button__icon  lui-icon  lui-icon--book"></span>
				</li>
				<li ng-click="openDialogMeas()" class="lui-tab" title="Measures">
					<span class="lui-button__icon  lui-icon  lui-icon--measure"></span>
				</li>
			</ul>
			<!-- <button class="instructions lui-button" ng-click="openDialog()">Instructions: </button> -->

		</div>
		<br>
		<span><a href="https://ginqo.com" target="_blank">GINQO</a> Master Item Manager (May 2019, Build 1.1)</span>

	</div>
</div>


<!--
	<button class="masteritemdelete lui-button lui-button--large" ng-click="openDialogDim()">Dimensions <span class="lui-fade-button__icon lui-icon lui-icon--menu"></span></button>
	<button class="masteritemdelete lui-button lui-button--large" ng-click="openDialogMeas()">Measures <span class="lui-fade-button__icon lui-icon lui-icon--menu"></span></button>
-->


<!--
	Master Item Overview and Export Variables
	<button title="Master Item Overview" style="left: 0%" ng-click="openDialog2()" class="extras lui-button  lui-button--default">
		<span class="lui-fade-button__icon lui-icon lui-icon--table"></span>
	</button> 
	<button title="Export Variables" style="left: 0%" ng-click="ExportVariables()" class="extras lui-button  lui-button--default">
		<span class="lui-fade-button__icon lui-icon lui-icon--variables"></span>
	</button>
-->