<style>
.content-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.masteritembutton{
	width: 250px
}
.instructions{
	width:250px
}

</style>
<div qv-extension>
	
	
	<!-- Create Instructions and Title -->
	<div class="content-center">
		

		<div style="text-align: center">
			<div class="lui-buttongroup">
				<button title="Help" style="left: 0%" ng-click="openDialog()" class="lui-button  lui-button--default">
						<span class="lui-fade-button__icon lui-icon lui-icon--help"></span>
				</button>
				<button title="Partial Reload" style="left: 0%" ng-click="PartialReload()" class="lui-button  lui-button--default">
						<span class="lui-fade-button__icon lui-icon lui-icon--reload"></span>
				</button>
				<button title="Master Item Overview" style="left: 0%" ng-click="openDialog2()" class="lui-button  lui-button--default">
						<span class="lui-fade-button__icon lui-icon lui-icon--table"></span>
				</button>
				<button title="Export Measure Items" style="left: 0%" ng-click="ExportMeasures()" class="lui-button  lui-button--default">
						<span class="lui-fade-button__icon lui-icon lui-icon--measure"></span>
				</button>
				<button title="Export Dimension Items" style="left: 0%" ng-click="ExportDimensions()" class="lui-button  lui-button--default">
					<span class="lui-fade-button__icon lui-icon lui-icon--book"></span>
			</button>
				<button title="Export Variables" style="left: 0%" ng-click="ExportVariables()" class="lui-button  lui-button--default">
					<span class="lui-fade-button__icon lui-icon lui-icon--variables"></span>
			</button>
			</div>
			<br><br><br>
			<h1><span class="lui-icon  lui-icon--cogwheel" aria-hidden="true"></span>  Import Master Items</h1>
			<br>
			<button ng-click="CreateMeasure();" class="masteritembutton lui-button lui-button">Create</button><br>
			<button ng-click="UpdateMeasures();" class="masteritembutton lui-button lui-button">Update</button><br>
			<button ng-click="DestroyAllMeasures();" class="masteritembutton lui-button lui-button--default">Delete</button>
		
	<!-- <button class="instructions lui-button" ng-click="openDialog()">Instructions: </button> -->
	
		</div>
	<br><span><a href="https://ginqo.com" target="_blank">GINQO</a> Master Item Manager (Nov 2018, Build 1.1)</span>
		
	</div>
	
</div>